@font-face {
  font-family: pulpFiction;
  src: url("../fonts/unicode.aachenb.ttf");
}

body {
  background-color: #fc5125;
  text-align: center;
  background: url("../images/uma.jpg")
    no-repeat center fixed;
  background-size: cover;
}
.uma {
  margin: 0 auto;
  background-image: url("../images/uma.jpg");
  background-size: cover;
  width: 1280px;
  height: 800px;
}
.logo {
  
  background-image: url("../images/logo.png");
  background-size: cover;
  margin: 10px auto;
  width: 785px;
  height: 175px;
}

.welcome {
  
  
  font-family: pulpFiction;
  font-size: 40px;
  color: #f7c00b;
  text-shadow: black -3px 3px;
}

.startButton {
  margin: 10px auto;
  font-family: pulpFiction;
  font-size: 40px;
  color: #fc5125;
  background-color: #f7c00b;
  text-shadow: black -3px 3px;
  box-shadow: black -3px 3px;
  width: 150px;
  height: 50px;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 20px;
}

.startButton:hover {
  color: #f7c00b;
  background-color: black;
  cursor: pointer;
  text-shadow: #fc5125 -3px 3px;
  box-shadow: #f7c00b -3px 3px;
}

.question {
  font-family: pulpFiction;
  font-size: 25px;
  
  text-shadow: #f7c00b -2px 1px;
}



.option {
  
  background-color: rgba(247, 192, 11, 0.75);
  box-shadow: black -3px 3px;
  font-family: pulpFiction;
  font-size: 25px;
  margin-top: 5px;
  text-align: left;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  margin-left: 35%;
}

.option:hover {
  cursor: pointer;
}

.message {
  
  font-family: pulpFiction;
  font-size: 40px;
  color: #f7c00b;
  text-shadow: black -3px 3px;
}

#gif {
  max-height: 160px;
  border-radius: 25px;
}

.correct {
  
  font-family: pulpFiction;
  font-size: 40px;
  color: #f7c00b;
  text-shadow: black -3px 3px;
}



.time {
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  font-family: pulpFiction;
  font-size: 40px;
  color: #f7c00b;
  border: solid #f7c00b 2px;
  border-radius: 25px;
  text-shadow: black -3px 3px;
  padding: 10px;
  box-shadow: black -3px 3px;
  
}

.restartButton {
  margin:auto;
  font-family: pulpFiction;
  font-size: 40px;
  color: #fc5125;
  background-color: #f7c00b;
  text-shadow: black -3px 3px;
  box-shadow: black -3px 3px;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 20px;
}

.restartButton:hover {
  color: #f7c00b;
  background-color: black;
  cursor: pointer;
  text-shadow: #fc5125 -3px 3px;
  box-shadow: #f7c00b -3px 3px;
}